.blog-section {
    padding: 40px 0;
}

.blog-item-wrapper {
    background: #F0F0F0;
    border-radius: 10px;
    margin-bottom: 30px;
}

.blog-item-image img {
    border-radius: 10px 0 0 10px;
}

.blog-item-title {
    display: inline-block;
    font-family: 'Squada One', cursive;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    color: #000;
    font-weight: 500;
}

.blog-item-text {
    font-size: 20px;
    font-weight: 500;
    color: #7b7b7b;
    line-height: 30px;
}

.blog-item-title:hover {
    color: #f76175;
}